/*************************
*******Header******
**************************/
header .head-nav{
    background: color #000;
    color: #fff;
    border-radius: 30px;
} 



/*************************
*******Body******
**************************/
section .card {
    border-radius: 30px;
    border: 1px solid #458FF6;
}

section .card:hover {
    border-radius: 30px;
    background-color: #458FF6;
    color: #fff;
}


section .card-title {
    font-size: 15px;
}

section .card-body {
    text-align: center;
    
}

#home .padd-right {
    padding-right: 150px;
}

#home .txt-justify {
    text-align: justify;
}



/*************************
*******Footer******
**************************/

#footer {
    padding-bottom: 75px;
    /*background-image: url(../img-beeweb/bande-beeweb.png); */
    background-color: #000;
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
}



  